body {
    margin: 0;
    font: 16px Arial, Tahoma;
}

header {
    background-color: #000;
    box-sizing: border-box;
    padding: 2%;
    width: 100%;
    display: block
}

header a img {
    width: 140px;
    border: solid white 2px;
    border-radius: 100px;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    margin: 10px;
    display: inline-block;

}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

header nav ul li a:hover {
    border-radius: 50px;
    border: #CCC solid 3px;
    transition: 0.5s;
    background-color: whitesmoke;
    color: #000;
}

main {
    width: 960px;
    margin: 30px auto;
}

h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.grid .coluna {
    border: 1px solid #CCC;
    margin: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
    padding: 10px;
}

.grid-2 .coluna img,
.grid .coluna img {
    width: 80%;
}

.grid-2 {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid-2 .coluna {
    padding: 20px;
}

footer {
    background-color: #000;
    color: #FFF;
    padding: 20px 0;
}


footer p {
    text-align: center;
}


label {
    width: 100%;
    font-weight: bold;
}

input,
textarea {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    ;
}